@{
    Layout = "_Layout2";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
    <link rel="stylesheet" href="~/css/customerAllProducts.css">
</head>
<body>
    <div class="small-container">
        <div class="row row-2">
            <h2>All Products</h2>
            @* <select>
                <option>Default Sorting</option>
                <option>Sort by Price</option>
                <option>Sort by Popularity</option>
                <option>Sort by Rating</option>
                <option>Sort by Sale</option>
            </select> *@
        </div>
    </div>

    <!-- Products Section -->
    <div class="small-container">
        <h2>Featured Products</h2>
        <div class="row">
            @foreach (var product in Model)
            {
                <a style="display: grid; grid-template-columns: 182px; text-decoration: none; color: black;" asp-controller="Product" asp-action="CustProductDetails" asp-route-id="@product.Id">
                    <div class="col-4 product-box">
                        <img src="@product.ImagePath" alt="@product.Name">
                        <h4>@product.Name</h4>
                        <p>@product.StockStatus</p>
                        <p>₱@String.Format("{0:n}", product.Price)</p>
                    </div>
                </a>
            }
        </div>
        <div class="page-btn">
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>&#8594;</span>
        </div>
    </div>
</body>
</html>
